h1 {
    text-align: center;
    font-size: 1em;
    color:rgb(61, 30, 30);
    margin-bottom: .3em;
    
  }
  
  table {
    margin: .3em;
    width: 290px;
  }
  
  th {
    padding: .2em;
  }
  
  td {
    padding-left: .5em;
    padding-right: .5em;
    border: 2px solid rgb(25, 98, 107);
    background-color: rgb(191, 196, 176);
  }
  
  #trHeader {
    color: rgb(61, 30, 30);
  }
  
  .centerCell {
    text-align: center;
  }